body{
    background-color:#ffbbddf6;
}

img{
    width: 10%;
}

figure{
    text-align: center;
}
.conteiner{
    width: 80%;
    margin: auto;
}
h1,h2{
text-align: center;
font-family: 'Kaushan Script', cursive;
}
p{
    font-family: 'Patrick Hand', cursive;
text-align: justify;
font-size: 1.4em;

}
.video{
    text-align: center;
    width: 50%;
    float: left;
}

footer{
    clear: both;
}